defaults/flow.json
[{
	"id": "be44b33.54f8e5",
	"type": "ibmiot in",
	"z": "af95072d.e7af48",
	"authentication": "boundService",
	"apiKey": "",
	"inputType": "evt",
	"logicalInterface": "",
	"ruleId": "",
	"deviceId": "",
	"applicationId": "",
	"deviceType": "+",
	"eventType": "+",
	"commandType": "",
	"format": "json",
	"name": "IBM IoT",
	"service": "registered",
	"allDevices": "",
	"allApplications": "",
	"allDeviceTypes": true,
	"allLogicalInterfaces": "",
	"allEvents": true,
	"allCommands": "",
	"allFormats": "",
	"qos": 0,
	"x": 140,
	"y": 180,
	"wires": [
		["19fcf36c.877ab5"]
	]
}, {
	"id": "ff738e7a.838fd",
	"type": "debug",
	"z": "af95072d.e7af48",
	"name": "",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "false",
	"x": 510,
	"y": 200,
	"wires": []
}, {
	"id": "19fcf36c.877ab5",
	"type": "function",
	"z": "af95072d.e7af48",
	"name": "",
	"func": "msg.payload =\n{\nX : msg.payload.d.ax,\nY : msg.payload.d.ax,\nZ : msg.payload.d.ax,\nSENSORID : msg.payload.d.id,\nCLASS : 0\n}\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 320,
	"y": 300,
	"wires": [
		["ff738e7a.838fd", "825c2340.1eb968"]
	]
}, {
	"id": "f5fbe9a3.2816b8",
	"type": "cloudant out",
	"z": "af95072d.e7af48",
	"name": "",
	"cloudant": "",
	"database": "shake",
	"service": "iotp-starter-cloudantNoSQLDB",
	"payonly": true,
	"operation": "insert",
	"x": 490,
	"y": 420,
	"wires": []
}, {
	"id": "825c2340.1eb968",
	"type": "delay",
	"z": "af95072d.e7af48",
	"name": "",
	"pauseType": "rate",
	"timeout": "5",
	"timeoutUnits": "seconds",
	"rate": "10",
	"nbRateUnits": "1",
	"rateUnits": "second",
	"randomFirst": "1",
	"randomLast": "5",
	"randomUnits": "seconds",
	"drop": false,
	"x": 420,
	"y": 360,
	"wires": [
		["f5fbe9a3.2816b8"]
	]
}]
